<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Terms and Conditions
        </title>
    </head>
    <body>
       <a href="{% url 'index' %}" style="padding-right: 20px;">Skill-brewery</a>
          <a href="{% url 'page_1' %}" style="padding-right: 20px;">Data Science Fastrack</a>
          <a href="{% url 'page_2' %}" style="padding-right: 20px;">Cybersecurity Evangelist Live</a>
          <a href="{% url 'page_3' %}" style="padding-right: 20px;">Terms and Conditions</a>
          <br>
    </body>
</html>